$breakpoints-map: (
  mobile: 640px,
  tablet: 960px,
);

@mixin breakpoints($screen) {
  $screen-size: map-get($breakpoints-map, $screen);

  @media only screen and (max-width: $screen-size) {
    @content;
  }
}
